*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-weight: 20px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:violet;
    text-align: center;
    background-position: cover;
    color: white;

}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
    align-items: center;
    /* height: 70vh; */
}
.game{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 15px;
    /* gap: 20px; */
    /* background:linear-gradient(40deg,white,rgb(13, 162, 220),violet);
    border: 0;
    outline: 0;
    border-radius: 30px; */
    padding: 7px;
    animation: glow 2s ease-in infinite;
    background-size: 200% 200%;
}
.btn{
    height: 60px;
    width: 60px;
    font-size: 25px;
    color: blue; 
    font-size: 30px;
    box-shadow: 0 0 40px rgb(44, 1, 44);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background:linear-gradient(45deg,white,skyblue,violet);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;

}
@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
       background-position: 100% 50%;
    }
    100%{
       background-position: 0% 50%;
    }
}

h1{
    padding: 40px;
    margin: 30px;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    /* animation: flip 2s ease-in-out infinite; */
}
@keyframes slide {
    0% {
        transform: translateX(100%); /* Start from the left */
        opacity: 0;
    }
    50% {
        transform: translateX(4); /* Center position */
        opacity: 1;
    }
    100% {
        transform: translateX(100); /* End to the right */
        opacity: 0;
    }
}
h1 span{
    animation: slide 4s ease-in-out infinite; /* Add slide animation */
}


span{
    color:rgb(235, 4, 120);
    text-decoration: wavy;
    text-shadow: 15px 15px 7px;
}

body::before{
    content: '';
    background:linear-gradient(35deg,white,purple,violet,rgb(102, 102, 177),green);
    position: absolute;
    background-size: 200% 200% ;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    z-index: -1;
    filter: blur(30px);
    animation: glow 5s ease-in infinite;
}
@keyframes glow {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/*for responsive styling*/
/*for smaller screens*/
@media (max-width:768px){
    .game{
        grid-template-columns: repeat(4,1fr);
        gap: 10ppx;
    }
    button{
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    h1{
        font-size: 18px;
    }
}
/*for very smaller sccreens*/
@media (max-width:480px) {
    .game{
        grid-template-columns: repeat(3,1fr);
        gap: 8px;
    }
    button{
        width: 35px;
        height: 35px;
    }
    h1{
        font-size: 18px;
    }
}

